body {
    margin: 0;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#ui { margin-bottom: 10px; font-weight: bold; text-transform: uppercase; }

canvas {
    background-color: #5da130; /* Pixel Grass Green */
    border: 10px solid #3d251e;
    /* THIS LINE MAKES IT PIXEL ART */
    image-rendering: pixelated; 
    box-shadow: 0 0 50px rgba(0,0,0,0.5);
}